.header {
    font-family: monospace;
    color: rgb(33, 8, 36);
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
}

.splitPanel {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.leftPanel, .rightPanel {
    background-color: rgba(13, 3, 13, 0.3);
    width: 30rem;
    height: 50rem;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: left;
}

