.header {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    color: rgb(33, 8, 36);
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 4rem;
}

.splitPanel {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.leftPanel, .rightPanel {
    background-color: rgba(13, 3, 13, 0.3);
    border-radius: 0.6rem;
    width: 30rem;
    height: 50rem;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: left;
}

.subHeader {
    color: rgb(181, 138, 170);
    /*background-color: rgba(245, 209, 245, 0.4);*/
    width: fit-content;
    padding: 0.2rem;
    border-radius: 1rem;
    font-family:'Audiowide', cursive;
}

.focus {
    font-weight: bold;
    color: rgb(91, 89, 89);
}

