.main {
    display: inline-flex;
    column-gap: 2rem;
    align-items: center;
    margin: 1rem;
}

.input {
    border: 2px solid #ece0fa;  /* light pastel purple border */
    border-radius: 10px;
    outline: none;
    background: #f9f8f9;         /* soft lavender background */
    transition: all 0.25s ease;
    color: #4a306d; 
}

.overlay {
    position: fixed;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.popUp {
    background: #f3e8ff; /* light pastel purple */
    padding: 0.1rem 0.2rem;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(217, 70, 239, 0.2);
    font-family: 'Arial', sans-serif;
    color: #291a3d;
    animation: fade 0.5s ease;
    font-family:'Audiowide', cursive;;
}