.form {
    display: inline-flex;
    column-gap: 2rem;
    align-items: center;
    margin-top: 0.5rem;
}

.header {
    font-size: 1.8rem;
    font-family: 'Audiowide', cursive;
    color: rgb(144, 90, 144);
}

.input {
    border: 2px solid #ece0fa;  /* light pastel purple border */
    border-radius: 10px;
    outline: none;
    background: #f9f8f9;         /* soft lavender background */
    transition: all 0.25s ease;
    color: #4a306d; 
}

input::placeholder {
  color: #674a88;   /* soft pastel purple */
  opacity: 0.8;     /* make it slightly lighter */
  font-style: italic; /* optional */
  font-family: 'Audiowide', cursive;
}