
.individualResults {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    align-items: center;
    justify-content: end;
    border-bottom: 1px solid whitesmoke;
}

.trackDisplay {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.text {
    margin: 0.2rem;
    color: rgb(43, 22, 54);
}

.buttons {
    display: flex;
    justify-content: flex-end; /* horizontal */
    align-items: center;
}

.lengthBox {
    display: flex;
    justify-content: center;
}

.trackLength {
    color: rgb(42, 4, 42);
    font-weight: bold;
    background-color: rgba(255, 253, 255, 0.1);
    border-radius: 1rem;
    padding: 0.3rem
}