@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    @apply min-h-full w-full;
  }

  body {
    @apply flex flex-col items-center font-["system-ui"] bg-cover bg-white bg-no-repeat bg-center text-center;
    background-image: url("../assets/BackgroundImage.png");
  }

  h1 {
    @apply text-[3.2rem] leading-[1.1] mt-10;
  }

  button {
    @apply rounded-2xl border border-transparent py-0.5 px-1 text-[0.7rem] text-white bg-black cursor-pointer font-["Audiowide",cursive] transition-colors duration-200;
  }
  button:hover {
    @apply border-[rgba(92,105,247,0.5)] border-2;
  }
  button:focus,
  button:focus-visible {
    @apply outline-[4px_auto_-webkit-focus-ring-color];
  }

  input {
    @apply bg-white rounded-2xl border border-blue-950 h-fit w-[20rem];
  }
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


