@import "tailwindcss";

@theme {
  --font-Poppins: "Poppins" ;
  --font-Audowide: "Audiowide"
}

@layer base {
  html,
  body,
  #root {
    @apply min-h-full w-full;
  }

  body {
    @apply flex flex-col items-center font-Poppins bg-cover bg-no-repeat bg-center text-center;
    background-image: url("./assets/BackgroundImage.png");
  }

  h1 {
    @apply text-[2.5rem] leading-[1.1];
  } /* make text variable */

  button {
    @apply rounded-2xl border border-transparent py-0.5 px-1 text-[0.7rem] text-white bg-black cursor-pointer font-Audowide transition-colors duration-200;
  }
  button:hover {
    @apply border-[rgba(92,105,247,0.5)] border-2;
  }
  button:focus,
  button:focus-visible {
    @apply outline-[4px_auto_-webkit-focus-ring-color];
  }

  input {
    @apply bg-[rgba(1,1,1,0.5)] text-white py-0.5 px-1 rounded-2xl flex-1 border border-[#ece0fa] transition-all duration-200 ease-in-out;
  }

}

@layer components {
  .panel {
    @apply bg-[rgba(13,3,13,0.3)] w-full text-[0.8rem] text-left ;
  }
  .header-box {
    @apply sticky top-0 bg-[rgb(18,17,17)] h-[2.2rem] border-b-[whitesmoke] border-b sm:rounded-t-2xl
  }
  .overlay {
    @apply fixed flex items-start justify-start pointer-events-none;
  }

  .popUp {
    @apply bg-[#f3e8ff] font-bold text-[#291a3d] rounded-[15px] 
           shadow-[0_8px_20px_rgba(217,70,239,0.2)] 
           animate-[fade_0.5s_ease];
  }
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
