@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    @apply min-h-full w-full;
  }

  body {
    @apply flex flex-col items-center font-["system-ui"] bg-cover bg-[rgb(188,149,192)] bg-no-repeat bg-center text-center;
    background-image: url("../assets/BackgroundImage.png");
  }

  h1 {
    @apply text-[2.5rem] leading-[1.1] mt-10;
  } /* make text variable */

  button {
    @apply rounded-2xl border border-transparent py-0.5 px-1 text-[0.7rem] text-white bg-black cursor-pointer font-["Audiowide",cursive] transition-colors duration-200;
  }
  button:hover {
    @apply border-[rgba(92,105,247,0.5)] border-2;
  }
  button:focus,
  button:focus-visible {
    @apply outline-[4px_auto_-webkit-focus-ring-color];
  }

  input {
    @apply bg-[#f9f8f9] rounded-2xl flex-1 border border-[#ece0fa] h-fit w-full transition-all duration-200 ease-in-out;
  }

  input::placeholder {
    @apply text-[#674a88] opacity-[0.8] italic font-[Audiowide];
  }
}

@layer components {
  .panel {
    @apply bg-[rgba(13,3,13,0.3)]  rounded-xl w-full h-[30rem] text-[0.8rem] text-left;
  }
}


:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


