@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));
@plugin "tailwind-scrollbar";

@theme {
  --font-Poppins: "Poppins" ;
  --font-Audowide: "Audiowide";
}

@layer base {
  html,
  body,
  #root {
    @apply w-full min-h-screen;
  }

  body {
    @apply flex flex-col items-center font-Poppins bg-cover bg-no-repeat bg-center text-center ;

  }

  h1 {
    @apply text-[2.5rem] leading-[1.1];
  } /* make text variable */

  button {
    @apply rounded-2xl border-2 py-0.5 px-2 text-[0.7rem] text-white bg-black cursor-pointer font-Audowide transition-colors duration-200 border-green-600;
  }
  button:hover {
    @apply border-[rgba(92,105,247,0.5)] border-2 text-[rgb(198,86,86)];
  }
  button:focus,
  button:focus-visible {
    @apply outline-[4px_auto_-webkit-focus-ring-color];
  }

  input {
    @apply bg-[rgba(1,1,1,0.5)] text-white py-0.5 px-1 rounded-2xl flex-1 border border-[#ece0fa] transition-all duration-200 ease-in-out;
  }
  * {
    @apply border-border outline-ring/50;}

}

@layer components {
  .panel {
    @apply bg-[rgba(13,3,13,0.3)] w-full text-[0.8rem] text-left ;
  }
  .header-box {
    @apply sticky top-0 bg-[rgba(13,3,13,1)] h-[2.2rem] border-b-[whitesmoke] border-b sm:rounded-t-xl
  }
  .overlay {
    @apply fixed flex items-start justify-start pointer-events-none;
  }

  .popUp {
    @apply bg-[#f3e8ff] font-bold text-[#291a3d] rounded-[15px] 
           shadow-[0_8px_20px_rgba(217,70,239,0.2)] 
           animate-[fade_0.5s_ease];
  }
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);

}